<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <% @user.posts.each do |post| %>
    <p>
      <%= post.caption %><br />
      <%= image_tag(post.image.url :preview) %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
